.notepad {
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 40px;
    padding: 10px 25px;
    /*border: 0px;*/
}

.notepad h3 {
    font-size: 1em;
    color: #a5a5a5;
    text-align: center;
}

.textarea {
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    border: none;
}

.textarea:focus {
    outline: none !important;
}
